<nav class="nav main-nav">
  <div class="align-self-center">
    <h3 class="ms-5 mb-0 pointer" routerLink="/">MANUEL PIRRONE's Portfolio</h3>
  </div>
  <ul class="ms-4 main-ul">
    <li class="nav-item dropdown" *ngFor="let link of links">
      <button
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
        role="button"
        aria-expanded="false"
      >
        {{ link.name }}
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" *ngFor="let l of link.links">
          <a [routerLink]="'/detail/' + l.title" class="nav-link">{{
            l.title
          }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
